/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~@nebular/theme/styles/globals';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */


@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme(( // add your variables here like:
    // footer-background-color:#FFE8E3,
    // header-background-color:#FFE8E3,
    // sidebar-background-color:#FFE8E3,


    color-success-default: darkgreen,
    color-success-active: green,
    color-success-hover: green,
    color-success-focus: green,
  ), default, default);

  
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$nb-themes: nb-register-theme(( // add your variables here like:
    // footer-background-color:#FFE8E3,
    // header-background-color:#FFE8E3,
    // sidebar-background-color:#FFE8E3,


    color-success-default: darkgreen,
    color-success-active: green,
    color-success-hover: green,
    color-success-focus: green,
  ), default, default);
