<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card-header>
      <ion-card-subtitle>
        {{ 'auth.login.title' | translate }}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-card-header collapse="condense">
    <ion-toolbar>
      <ion-card-subtitle>
        {{ 'auth.login.title' | translate }}
      </ion-card-subtitle>
    </ion-toolbar>
  </ion-card-header>

  <ion-grid class="ion-margin">
    
  </ion-grid>

</ion-content>