<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card-header>
      <ion-card-subtitle>
        {{ 'HOME' | translate }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-buttons slot="start">
      <ion-button size="small" fill="clear" color="primary" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card-header>
        <ion-card-subtitle>Welcome home</ion-card-subtitle>
        <ion-card-title>{{ 'home.title' | translate }}</ion-card-title>
      </ion-card-header>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">

        <div class="row">
          <div class="col-lg-12">
            <nb-card>
              <nb-card-header>
                {{ 'auth.profile.general_information.title' | translate }}
              </nb-card-header>
            </nb-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>